# Compiled class files
*.class

# Package files
*.jar
*.war

# Eclipse / IntelliJ
.classpath
.project
.idea/

# VS Code
.vscode/

# Build folders
build/
out/
target/

# OS files
.DS_Store
Thumbs.db

# Logs
.log

#misc
inputf.in
outputf.out